html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loading-screen-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  border: 0.1rem solid black;
}

.loading-logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  bottom: 9vh;
}

.loading-welcome-wrapper {
  display: flex;
  align-items: center;
}

.loading-plus-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-section-container {
  min-height: 100vh;
}

.navheader-container {
  border: 1px solid black;
}

main {
  border: 0.1rem solid yellow;
  min-height: calc(100vh - 3rem);
}

footer {
  border: 0.1rem solid red;
}
